<div
  class="aos title"
  data-aos="fade-right"
  data-aos-duration="2000"
  data-aos-offset="-150"
>
  About Me
  <hr class="hr-title" />
</div>

<div class="info">
  <div
    class="aos"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-offset="-300"
  >
    <img src="assets/images/me.jpg" />
  </div>
  <div
    class="aos text"
    data-aos="fade-left"
    data-aos-duration="1500"
    data-aos-offset="-300"
  >
    Hi there, I'm Ben! I am a Penultimate Software Engineering Student at the
    University of Auckland. For as long as I can remember, I've always had a
    passion for tech. Throughout my many years of schooling, that passion has
    been the driving force that has led me to where I am today. I am always
    ready to delve deeper into the field of Software Engineering and apply all
    that I have learned. My roots are in Tauranga, and I love nothing more than
    soaking in the sun at a good beach and just getting outdoors.
  </div>
</div>
