.title {
  font-size: 3vw;
  font-weight: bold;
  position: relative;
  top: 2%;
  left: 2%;
}

.hr-title {
  margin-top: 0;
  background-color: #d45c51;
  border: none;
  width: 14vw;
  height: 0.2vw;
  float: left;
}

.info {
  position: relative;
  top: 47%;
  left: 43%;
  width: 70vw;
  transform: translate(-50%, -50%);
}

img {
  float: left;
  height: 25vw;
  width: 25vw;
}

.text {
  margin-left: 40vw;
  font-size: 1.3vw;
  padding: 3vw 0;
}
