.title {
  font-size: 3vw;
  font-weight: bold;
  position: relative;
  top: 2%;
  left: 2%;
}

.hr-title {
  margin-top: 0;
  background-color: #d45c51;
  border: none;
  width: 14.4vw;
  height: 0.2vw;
  float: left;
}
