<div class="title">
  Experience
  <hr class="hr-title" />
</div>
<!-- HTML content -->
<div class="carousel-div">
  <carousel [dots]="true" [autoplay]="false" class="carousel-content">
    <div class="carousel-cell">
      <div>
        <img src="assets/images/sesa.png" />
      </div>
      <div class="header">
        Marketing Manger - SESA
        <br />
        <span style="color: #b3b3b0; font-size: 1vw">30/11/22 - Present</span>
        <br />
        <span style="color: #b3b3b0; font-size: 1vw"
          >Auckland, New Zealand</span
        >
      </div>
      <div class="text">
        <ul>
          <li>Blah blah blah</li>
          <li>Blah blah blah</li>
          <li>Blah blah blah</li>
        </ul>
      </div>
    </div>
    <div class="carousel-cell">
      <div>
        <img src="assets/images/lawvu.png" />
      </div>
      <div class="header">
        Software Engineering Intern - LawVu
        <br />
        <span style="color: #b3b3b0; font-size: 1vw">21/11/22 - 20/02/23</span>
        <br />
        <span style="color: #b3b3b0; font-size: 1vw"
          >Tauranga, Bay of Plenty, New Zealand</span
        >
      </div>
      <div class="text">
        <ul>
          <li>Blah blah blah</li>
          <li>Blah blah blah</li>
          <li>Blah blah blah</li>
        </ul>
      </div>
    </div>
    <div class="carousel-cell">
      <div>
        <img src="assets/images/sesa.png" />
      </div>
      <div class="header">
        Industry Event Coordinator - SESA
        <br />
        <span style="color: #b3b3b0; font-size: 1vw">1/3/22 - 20/11/22</span>
        <br />
        <span style="color: #b3b3b0; font-size: 1vw"
          >Auckland, New Zealand</span
        >
      </div>
      <div class="text">
        <ul>
          <li>Blah blah blah</li>
          <li>Blah blah blah</li>
          <li>Blah blah blah</li>
        </ul>
      </div>
    </div>
  </carousel>
</div>
