<div class="container">
  <div
    data-aos="fade-up"
    data-aos-offset="-150"
    data-aos-duration="1500"
    class="aos hello"
  >
    Hello, my name is
  </div>
  <div
    data-aos="fade-up"
    data-aos-offset="-150"
    data-aos-duration="2000"
    class="aos name"
  >
    Ben <br />
    Martin
  </div>
  <hr
    data-aos="fade-up"
    data-aos-duration="2500"
    data-aos-offset="-150"
    class="aos hr-title"
  />
  <br />
  <div
    data-aos="fade-up"
    data-aos-duration="3000"
    data-aos-offset="-150"
    class="aos occupation"
  >
    Software Engineering Student
  </div>
</div>
<div class="hint">
  <div
    data-aos="fade-down"
    data-aos-duration="2000"
    data-aos-offset="-200"
    class="aos text-hint"
  >
    Scroll to see more
  </div>
  <hr
    data-aos="fade-down"
    data-aos-duration="1500"
    data-aos-offset="-200"
    class="aos hr-hint"
  />
</div>
