<div class="scroll-container">
  <section>
    <div class="container">
      <div data-aos="fade-up" data-aos-duration="1500" class="hello">
        Hello, my name is
      </div>
      <div data-aos="fade-up" data-aos-duration="2000" class="name">
        Ben <br />
        Martin
      </div>
      <hr
        data-aos="fade-up"
        data-aos-duration="2500"
        data-aos-offset="0"
        class="hr-title"
      />
      <br />
      <div
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-offset="0"
        class="occupation"
      >
        Software Engineering Student
      </div>
    </div>
    <div class="hint">
      <div class="text-hint">Scroll to see more</div>
      <br />
      <hr class="hr-hint" />
    </div>
  </section>
  <section><div>Two</div></section>
  <section><div>Three</div></section>
  <section>
    <button id="learn-button" routerLink="/home">Learn More?</button>
  </section>
</div>
