.scroll-container {
  overflow: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

button {
  color: black;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.hello {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  color: #d45c51;
}

.name {
  font-size: 20rem;
  line-height: 80%;
  margin-left: -1.4rem;
}

.occupation {
  font-size: 4rem;
  padding-top: 0.5rem;
  line-height: 100%;
  float: left;
}

hr {
  background-color: #d45c51;
  border: none;
}

.hr-title {
  width: 8rem;
  height: 0.8rem;
  float: left;
}

.hr-hint {
  width: 10rem;
  height: 0.2rem;
  margin-top: 0;
}

.text-hint {
  margin-left: 1rem;
  margin-bottom: -1rem;
}

.hint {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 4rem;
  margin-left: -2rem;
  transform: rotate(-90deg);
}
